* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "comic sans", monospace;
  width: cacl(100vw - (100vw - 100%));
  height: 900px;
  background-image: url(./FONDO.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

:root {
  --primary: rgb(48, 155, 141);
  --secondary: white;
}
p {   
  color: black;
  display: flex;
  }
h2 {
  color: whitesmoke;
}