* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "comic sans", monospace;
  width: cacl(100vw - (100vw - 100%));
  background-size: cover;
  background-image: url(../assets/FONDO.jpg);
  background-repeat: no-repeat;
}

:root {
  --primary: rgb(48, 155, 141);
  --secondary: white;
}
p {
  width: 50%;
  padding: 16px 32px;
  color: black;
  display: flex;
  background-color: rgb(187, 187, 187);
  border-radius: 40px;
  text-align: center;
}
.precio {
  width: 500px;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: grey;
  border-radius: 40px;

}
